﻿@model DataAccess.Model.KnihovnaUser
@{
    ViewBag.Title = "Index";
    Layout = null;
}

@if (Model.Role.Identificator == "knihovnik")
{
    <li>
        <a href="@Url.Action("Index","Books")">Sprava Knih</a>
    </li>
}

else if (Model.Role.Identificator == "ctenar")
{
    <li>
        <a href="@Url.Action("Index","Books")">Knihy</a>
    </li>
}


