﻿@model DataAccess.Model.Book
@{
    ViewBag.Title = "Create";
}

<h2>Nova kniha</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Add", "Books", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label class="control-label col-sm-2">Kniha:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Autor:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Author)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Rok publikace:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.PublishedYear, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PublishedYear)

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">Popis:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Description, new { @class = "form-control formatedtext" })
            @Html.ValidationMessageFor(x => x.Description)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Kategorie:</label>
        <div class="col-sm-10">

            @Html.DropDownList("categoryId", new SelectList(ViewBag.categories, "Id", "Name"), new {@class="form-control"})

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Obrazek:</label>
        <div class="col-sm-10">

            <input type="file" name="picture"/>

        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Odeslat knihu</button>
        </div>
    </div>




}



