﻿@using DataAccess.Model
@model IList<Book>

@{
    ViewBag.Title = "Index";
}

<h2>Nabidka knih</h2>


<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Obrazek</th>
            <th>Id</th>
            <th>Nazev Knihy</th>
            <th>Autor</th>
            <th>Rok vydani</th>
        

        </tr>
    </thead>
    <tbody>

        @foreach (Book b in Model)
    {
        <tr>
            
            <td>
                @if (!string.IsNullOrEmpty(b.ImageName))
                {
                    <img src="@Url.Content("~/uploads/book/" + b.ImageName)"/>

                }

            </td>
           
            <td><a href="@Url.Action("Detail", "Books", new {id = b.Id})">@b.Id</a></td>
            <td>@Html.ActionLink(b.Name, "Detail", "Books", new {id = b.Id, zobrazPopis = true}, new {title = b.Name})</td>
            <td>@b.Author</td>
            <td>@b.PublishedYear</td>
            
        </tr>
}



    </tbody>
</table>

