﻿body {
    padding-top: 72px;
    padding-bottom: 40px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

    input.input-validation-error {
        background-color: plum;
    }

    input.valid {
        background-color: aquamarine;
    }