﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="ajaxContent">


</div>

<a href="#" onclick="getAjaxContent()">Ajax</a>

<script type="text/javascript">

    function getAjaxContent()
    {

        $( document ).ready(function() {
            $.get( '@Url.Action("AjaxRequest", "Home")', function( data ) {
                $( "#ajaxContent" ).html( data );
            });

        });
    }

</script>

<p>
    Stanka z indexem / hlavni stranka

</p>

