﻿@model DataAccess.Model.Book


@{
    ViewBag.Title = "Detail";
}





<h2>Detail knihy</h2>

<p>
    Jmeno knihy je: @Model.Name
</p>

<p>
    Autor knihy je: @Model.Author

</p>

<p>
    Datum publikace knihy je: @Model.PublishedYear

</p>



@Html.Raw(Model.Description)


