﻿@using DataAccess.Model
@model DataAccess.Model.Book
@{
    ViewBag.Title = "Edit";

}

<h2>Editace knihy</h2>

@Html.ValidationSummary()

@using (Html.BeginForm("Update", "Books", FormMethod.Post, new { @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(x=>x.Id)
    @Html.HiddenFor(x=>x.ImageName)

    <div class="form-group">
        <label class="control-label col-sm-2">Kniha:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Name)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Autor:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Author, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Author)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Rok publikace:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.PublishedYear, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.PublishedYear)

        </div>
    </div>


    <div class="form-group">
        <label class="control-label col-sm-2">Popis:</label>
        <div class="col-sm-10">

            @Html.TextBoxFor(x => x.Description, new { @class = "form-control formatedtext" })
            @Html.ValidationMessageFor(x => x.Description)

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Kategorie:</label>
        <div class="col-sm-10">

            @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Id", "Name", Model.Category.Id), new { @class = "form-control" })

        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2">Obrazek:</label>
        <div class="col-sm-10">

            <input type="file" name="picture" />
            
            @if(!string.IsNullOrEmpty(Model.ImageName))
            {

                <img src="@Url.Content("~/uploads/book/" + Model.ImageName)"/>
            }

        </div>
    </div>


    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Upravit knihu</button>
        </div>
    </div>




}
