﻿@using DataAccess.Model
@model IList<Book>

@{
    ViewBag.Title = "Index";
}

<h2>Administrace knih</h2>

<div>
    <div class="panel-body">
        @using (Ajax.BeginForm("Search", new AjaxOptions(){UpdateTargetId = "dynamicContent", InsertionMode = InsertionMode.Replace}))
        {
            <input type="text" class="form-control" placeholder="Vyhledat knihu" name="phrase" id="searchBox"/>
            <input type="submit" value="hledat" class="btn"/>
        }
    </div>
</div>

<div class="panel">

    <div class="panel-body">
        @if (ViewBag.Categories != null)
        {
            foreach (BookCategory book in ViewBag.Categories)
            {
                <a href="@Url.Action("Category", "Books", new{id = book.Id})">@book.Name</a>
            }
        }

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detail knihy</h4>
            </div>
            <div class="modal-body" id="modalContent">
               

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
           
            </div>
        </div>
    </div>
</div>



<h2>Nabidka knih</h2>
<p>
    <a href="@Url.Action("Create", "Books")" class="btn btn-primary">Vytvoreni nove knihy</a>
</p>

<table class="table table-bordered table-hover table-condensed">
    <thead>
        <tr>
            <th>Obrazek</th>
            <th>Id</th>
            <th>Nazev Knihy</th>
            <th>Autor</th>
            <th>Rok vydani</th>
            <th>Akce</th>

        </tr>
    </thead>
    <tbody>

        @foreach (Book b in Model)
        {
            <tr>

                <td>
                    @if (!string.IsNullOrEmpty(b.ImageName))
                    {
                        <img src="@Url.Content("~/uploads/book/" + b.ImageName)" />

                    }

                </td>

                <td><a href="@Url.Action("Detail", "Books", new {id = b.Id})">@b.Id</a></td>

                <td>@Ajax.ActionLink(b.Name, "Detail", new {id = b.Id}, new AjaxOptions(){UpdateTargetId = "modalContent", InsertionMode = InsertionMode.Replace, OnBegin = "openModalWindow"})</td>
                <td>@b.Author</td>
                <td>@b.PublishedYear</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Books", new { id = b.Id }, null)
                    @Html.ActionLink("Delete", "Delete", "Books", new { id = b.Id }, new { onclick = "return confirm('prejete si opravdu knihu smazat?');" })

                </td>
            </tr>
        }



    </tbody>
</table>

@if (ViewBag.Pages != null)
{
    <ul class="pagination">

        @for (int i = 1; i <= ViewBag.Pages; i++)
        {
            <li class="@(ViewBag.CurrentPage == i ? "active" : "")">
                @Ajax.ActionLink(i.ToString(),"Index",new {page = i},new AjaxOptions(){InsertionMode = InsertionMode.Replace, UpdateTargetId = "dynamicContent"})
            </li>

        }
    </ul>
}


<script type="text/javascript">
    function openModalWindow() {
        $('#myModal').modal({
            show: true
        });

    }


    $( function() {  
 
        $( "#searchBox" ).autocomplete({
            source: function( request, response ) {
                $.ajax( {
                    url: "@Url.Action("SearchBooks", "Books")",
                    dataType: "json",
                    data: {
                        term: request.term
                    },
                    success: function (data) {
                        response(data)
                    }
                } );
            },
            minLength: 3
        } );
    } );

</script>